.el-alert__title.is-bold {
  color: #333 !important;
}

.toptime {
  background: #fff;
  line-height: 66px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.block {
  float: left;
}

.simple-form-field {
  float: left;
  margin-left: 10px;
}

.search-term .simple-form-field {
  margin: 4px 8px 4px 0px;
  display: inline-block;
  vertical-align: middle;
}

a {
  color: #666;
  text-decoration: none;
  outline: none;
}

.ft-bar {
  font-style: normal;
}

.coding {
  float: left;
  margin-left: 20px;
}

.ipt {
  float: left;
  margin-left: 10px;
}

.el-input--small {
  width: 150px;
  margin-left: 8px;
}

.el-table--fit {
  border: 1px solid #e5e5e5;
}

.el-table th, .el-table tr {
  font-weight: 600;
  color: #333;
  text-align: center;
  background: #efefef !important;
}

.pull-left {
  margin-right: 15px;
  float: left;
}

.el-table td div {
  float: left;
}

.el-table .cell {
  width: 100%;
  text-align: center;
}

span.name {
  text-align: left;
  display: inline-block;
  width: 100%;
}

span.mail {
  text-align: left;
  display: inline-block;
  width: 100%;
}

span.tel {
  text-align: left;
  display: inline-block;
  width: 100%;
}

.coding .el-input {
  width: 150px;
  margin-left: 8px;
}

.coding {
  float: left;
  margin-left: 20px;
}

.el-button--small {
  margin-left: 20px;
}

.common-title {
  color: #333;
  white-space: nowrap;
  display: block;
  position: relative;
  z-index: 4;
  height: 30px;
}

.ftitle {
  font-size: 0;
  height: 24px;
  float: left;
}

.ftitle h3 {
  font-size: 16px;
  color: #333;
  margin-right: 6px;
  float: left;
}

.ftitle h5 {
  font-size: 12px;
  font-weight: normal;
  line-height: 24px;
  color: #999;
  vertical-align: bottom;
  letter-spacing: normal;
  display: inline-block;
}

.el-pagination {
  float: right !important;
  margin-top: 10px;
}

.el-alert--success {
  color: #333;
  background: #f5f5f5;
  margin-bottom: 10px;
  border: 1px solid #dedede;
}

@media screen and (min-width: 2000px) {
  .echarts {
    width: 1800px !important;
  }
}

@media screen and (min-width: 1600px) {
  .echarts {
    width: 1500px !important;
  }
}

@media screen and (min-width: 1200px) {
  .echarts {
    width: 1100px !important;
  }
}

.table-responsive .table {
  width: 100%;
  border: 1px solid #eee;
}

.style-seller .table thead tr th {
  border-bottom: 1px solid #eee;
  font-family: '微软雅黑';
  font-weight: bold;
  font-size: 12px;
  color: #333;
}

.table .text-c {
  width: 16%;
  text-align: center;
  line-height: 50px;
  border: 1px solid #e5e5e5;
  background: #f9fafa;

}

.vip_left {
  background: #efefef;
  font-weight: bold;
  font-size: 12px;
  color: #333;
  width: 100%;
  float: left;
  line-height: 47px;
  border: 1px solid #e4e4e4;
  text-align: center;
}

.funnel-block {
  border-bottom: 1px solid #e4e4e4;
  padding-top: 4px;
  height: 84px;
  width: auto;
  padding-left: 50px;
  box-sizing: border-box;
}

.funnel-block .cell {
  float: left;
  margin-right: 16px;
  min-width: 200px;
  max-width: 150px;
  font-size: 12px;
  color: #666;
}

.funnel-block .cell .cell-body span.number {
  color: #000;
  font-size: 18px;
  line-height: 1.2;
  font-family: Helvetica, STHeiti, "Microsoft YaHei", Verdana, Arial, Tahoma, sans-serif;
}

.lable {
  font-size: 14px;
}

.cell-body {
  padding-top: 5px;
}

.el-icon-question:before {
  color: #c0c4cc;
  font-size: 18px;
  line-height: 30px;
  margin-left: 10px;
}

.el-tooltip__popper.is-light {
  width: 200px;
}
